<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - MoonStudio</title>
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/output.css" />
  </head>
<body class="bg-fondo-principal text-texto-principal font-body min-h-screen flex flex-col">

